*, html, body, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background: rgba(20, 20, 20, 0.8);
    position: fixed;
    z-index: 50;
}

header #nav {
    margin: auto;
    width: 1494px;
    height: 80px;
    display: flex;
}

header #nav img {
    padding: 10px;
}

header #nav .nav-left {
    flex: 1;
}

header #nav .nav-right {
    flex: 1;
}

.nav-right ul {
    margin-top: 28px;
}

.nav-right ul li {
    display: inline;
}

.nav-right ul li a:hover {
    color: coral;
}

.nav-right ul li a{
    padding: 10px; 
    font-size: 16px; 
}


/*-------------------------*/
#home-banner {
    padding-top: 100px;
    height: 1000px;
}

#home-banner {
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
}

/*------- footer ----------*/
footer {
    background: #222;
    text-align: center;
    padding: 20px;
}

footer p, a {
    font-size: 20px;
    color: #fff;
}